name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  PSWD: ${{ secrets.PWD }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: gradle/gradle-build-action@v2
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
        with:
          arguments: bootBuildImage
      - name: Echo Username
        shell: bash
        run : |
          echo $USERNAME
      - name: Echo Pswd
        shell: bash
        run : |
          echo $PSWD
      - name: Echo Github Context
        shell: bash
        run : |
          echo $GITHUB_CONTEXT

