name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  UNAME: ${{ secrets.USERNAME }}
  ABC: ${{ secrets.ABC }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: gradle/gradle-build-action@v2
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
          PSWRD: ${{ secrets.PWD }}
        with:
          arguments: build
      - name: Echo Username
        shell: bash
        run : |
          echo $UNAME
      - name: Echo Pswd
        shell: bash
        # no result as PSWD not available
        run : |
          echo $PSWRD
      - name: Echo Github Context
        shell: bash
        run : |
          echo $GITHUB_CONTEXT
      - name: Echo Some random variable
        shell: bash
        run : |
          echo $ABC

